<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chi tiết phim </title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
          integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">

    <link rel="stylesheet" th:href="@{/web-assets/css/style.css}">


    <style>
        .movie-poster {
            position: relative;
        }

        .play-icon {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 3rem; /* Kích thước biểu tượng */
            color: white; /* Màu sắc của biểu tượng */
            cursor: pointer; /* Con trỏ chuột khi hover */
            z-index: 10; /* Đảm bảo biểu tượng nằm trên cùng */
            transition: transform 0.3s ease, color 0.3s ease; /* Hiệu ứng chuyển động mượt mà */
        }

        .play-icon:hover {
            transform: translate(-50%, -50%) scale(1.2); /* Phóng to biểu tượng khi hover */
            color: #ff0000; /* Màu sắc khi hover, có thể thay đổi */
        }
    </style>

</head>
<body>
<header class="bg-dark">
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="https://motchilltv.vc/_ipx/f_webp&s_150x35/logo.png" alt="" class="logo">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-between" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link text-white" href="/">Trang chủ</a>
                    <a class="nav-link text-white" href="/phim-bo">Phim bộ</a>
                    <a class="nav-link text-white" href="/phim-le">Phim lẻ</a>
                    <a class="nav-link text-white" href="/phim-chieu-rap">Phim chiếu rạp</a>
                    <a class="nav-link text-white" >Quốc gia</a>
                    <a class="nav-link text-white" >Thể loại</a>
                    <a class="nav-link text-white" href="/tin-tuc" >Blog</a>
                </div>

                <div>
                    <a class="text-white" href="#">Đăng nhập</a>
                </div>
            </div>
        </div>
    </nav>
</header>

<section class="py-4">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a class="text-primary" href="/">Trang chủ</a></li>
                <li class="breadcrumb-item"><a class="text-primary" href="/phim-bo">Phim bộ</a></li>
                <li class="breadcrumb-item active" aria-current="page" th:text="${movie.name}">Nhím Sonic 2</li>
            </ol>
        </nav>
        <div class="row mt-4">
            <div class="col-3">
                <div class="movie-poster overflow-hidden position-relative rounded">
                    <img
                            id="movie-poster"
                            class="w-100"
                            th:src="${movie.poster}"
                            th:alt="${movie.name}"
                    >
                    <span class="play-icon" data-bs-toggle="modal" data-bs-target="#modal-trailer">
                        <i class="fa-regular fa-circle-play"></i>
                    </span>
                </div>
            </div>
            <div class="col-9">
                <div class="d-flex align-items-center mb-3">
                    <h4 class="mb-0" th:text="${movie.name}">Nhím Sonic 2</h4>
                    <div class="d-flex align-items-center bg-body-tertiary p-1 rounded ms-2">
                        <span class="fw-bold me-1" th:text="${movie.rating}">10</span>
                        <span class="rating-icon text-yellow-300"><i class="fas fa-star" style="color: #FFD43B;"></i></span>
                    </div>
                </div>
                <div class="p-3 bg-body-tertiary">
                    <div class="row">
                        <div class="col-2"><p>Thể loại</p></div>
                        <div class="col-10">
                            <th:block th:each="genres, iterStat : ${movie.genres}">
                                <span th:text="${genres.name}"></span>
                                <span th:if="${!iterStat.last}">, </span>
                            </th:block>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2"><p>Năm sản xuất</p></div>
                        <div class="col-10"><p th:text="${movie.releaseYear}">2022</p></div>
                    </div>
                    <div class="row">
                        <div class="col-2"><p>Quốc gia</p></div>
                        <div class="col-10">
                            <p>
                                <span th:each="country : ${movie.country}" th:text="${country.name}">Mỹ</span>
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2"><p>Đạo diễn</p></div>
                        <div class="col-10">
                            <th:block th:each="director, iterStat : ${movie.directors}">
                                <span th:text="${director.name}"></span>
                                <span th:if="${!iterStat.last}">, </span>
                            </th:block>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2"><p>Diễn viên</p></div>
                        <div class="col-10">
                            <th:block th:each="actor, iterStat : ${movie.actors}">
                                <span th:text="${actor.name}"></span>
                                <span th:if="${!iterStat.last}">, </span>
                            </th:block>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2"><p>Nội dung phim</p></div>
                        <div class="col-10"><p th:text="${movie.description}">Khi Robotnik tìm cách quay trở về Trái Đất
                            thành công, ông ta có một đồng
                            minh mới là Knuckles hùng mạnh, liệu Sonic và người bạn ới Tails có thể ngăn&nbsp;<span
                                    class="text-primary">Xem thêm</span></p></div>
                    </div>
                </div>
                <div>
                    <div class="d-flex align-items-center"><a
                            class="d-inline-block btn btn-danger px-5 py-2 mt-3 rounded me-2"
                            href="/xem-phim/116/nhim-sonic-2?tap=full"><span class="me-1"><i
                            class="fa-solid fa-play"></i></span>Xem phim</a>
                        <div id="btn-wishlist-container">
                            <button class="d-inline-block btn bg-dark px-5 py-2 mt-3 rounded text-white"><span
                                    class="me-1"><i class="fa-solid fa-heart"></i></span>Thêm vào yêu thích
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="mt-4">
            <h4 class="mb-3">Tập phim</h4>
               <th:block th:each="episode : ${episodes}">
                    <a class="btn btn-dark me-2"
                            th:href="|/phim/${movieId}/${movie.id}/${episode.id}|"
                       th:text="'Tập ' + ${episode.displayOrder}"></a>
               </th:block>
         </div>
        </div>
    </div>
</section>

<section class="py-4 bg-body-secondary">
    <div class="container">
        <h3>Phim đề xuất</h3>
        <div class="row">
            <div class="col-2" th:each="movie : ${recommendMovies}">
                <a th:href="|/phim/${movie.id}/${movie.slug}|" class="movie-item text-black text-decoration-none">
                    <div class="movie-poster rounded overflow-hidden">
                        <img th:src="${movie.poster}" th:alt="${movie.name}">
                    </div>
                    <div class="movie-info">
                        <p class="mt-2" th:text="${movie.name}">Lọ lem 2 giờ sáng</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>

<!--<section class="py-4 bg-body-tertiary">-->
<!--    <div class="container">-->
<!--        <h3>Bình luận</h3>-->
<!--        <div>-->
<!--            <span>Vui lòng</span>-->
<!--            <a href="">đăng nhập</a>-->
<!--            <span>để viết bình luận</span>-->
<!--        </div>-->
<!--        <div class="row py-3">-->
<!--            <div class="col-1 d-flex flex-column justify-content-between">-->
<!--                <th:block th:each="user : ${users}">-->
<!--                    <div class="ava rounded-circle bg-body-secondary d-flex">-->
<!--                        <span th:text="${user.name}"></span>-->
<!--                    </div>-->
<!--                </th:block>-->
<!--            </div>-->

<!--            <div class="col">-->
<!--                <th:block th:each="review : ${reviews}">-->
<!--                    <div>-->
<!--                        <span class="fw-bold" th:text="${review.user.name}"></span>-->
<!--                        <span class="fw-light" th:text="${#dates.format(review.createdAt, 'dd/MM/yyyy')}"></span>-->
<!--                        <div>-->
<!--                            <i class="fas fa-star" style="color: #FFD43B;"></i>-->
<!--                            <span th:text="${review.rating} + '/10 ' + ${review.ratingDescription}"></span>-->
<!--                        </div>-->
<!--                        <span class="text-black fw-light" th:text="${review.content}"></span>-->
<!--                    </div>-->
<!--                </th:block>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</section>-->

<section class="py-4 bg-body-tertiary">
    <div class="container">
        <h3>Bình luận</h3>
        <div>
            <span>Vui lòng</span>
            <a href="">đăng nhập</a>
            <span>để viết bình luận</span>
        </div>

        <th:block th:each="review : ${reviews}">
            <div class="row py-3">
                <div class="col-1 d-flex flex-column align-items-center justify-content-between">
                        <div class="ava" style="margin-bottom: 20px;">
                            <img class="ava rounded-circle" th:src="${review.getUser().getAvatar()}">
                        </div>
                </div>

                <div class="col">
                    <div>
                        <span class="fw-bold" th:text="${review.getUser().name}">Lê Hải Dũng</span>
                        <span class="fw-light" th:text="${#temporals.format(review.createdAt, 'dd-MM-yyyy')}">20/02/2022</span>
                        <div>
                            <span th:text="${review.getRating()}"></span>
                            <i class="fas fa-star" style="color: #FFD43B;"></i>
                            <span th:if="${review.getRating() >= 8}">Cũng hay đấy</span>
                            <span th:if="${review.getRating() >= 6 && review.getRating()<8}">Bình thường thôi</span>
                            <span th:if="${review.getRating() < 6}">Quá tệ</span>

                        </div>
                        <span class="text-black fw-light" th:text="${review.getContent()}">Nhạt như nước ốc</span>
                    </div>
                </div>
            </div>
        </th:block>

    </div>
</section>

<div class="container mt-5">
    <nav aria-label="Page navigation example">
        <ul class="pagination d-flex justify-content-center">
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>


<footer class="py-4 bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-4">
                <img src="https://motchilltv.vc/_ipx/f_webp&s_150x35/logo.png" alt="" class="logo">
                <p class="text-white mt-3">Trang web xem phim trực tuyến miễn phí chất lượng cao với giao diện trực quan,
                    tốc độ tải trang nhanh, cùng kho phim với hơn 10.000+ phim mới, phim hay, luôn cập nhật phim nhanh,
                    hứa hẹn sẽ đem lại phút giây thư giãn cho bạn.</p>
            </div>
            <div class="col">
                <div class="text-white">
                    <h5 class="text-uppercase">DANH MỤC</h5>
                    <p>Tin tức</p>
                    <p>Phim chiếu rạp</p>
                    <p>Phim lẻ</p>
                    <p>Phim bộ</p>
                    <p>TV Show</p>
                </div>
            </div>
            <div class="col">
                <div class="text-white">
                    <h5 class="text-uppercase">THỂ LOẠI </h5>
                    <p>Phim cổ trang</p>
                    <p>Phim đam mỹ</p>
                    <p>Phim bách hợp</p>
                    <p>Phim viễn tưởng</p>
                    <p>Phim hoạt hình</p>
                </div>
            </div>
            <div class="col">
                <div class="text-white">
                    <h5 class="text-uppercase">ĐIỀU KHOẢN</h5>
                    <p>DMCA</p>
                    <p>Liên hệ</p>
                    <p>Privacy</p>
                    <p>Terms of Service</p>
                </div>
            </div>
            <div class="col">
                <div class="text-white">
                    <h5 class="text-uppercase">SOCIAL</h5>
                    <p>Tin tức</p>
                    <p>Phim chiếu rạp</p>
                    <p>Phim lẻ</p>
                    <p>Phim bộ</p>
                    <p>TV Show</p>
                </div>
            </div>
        </div>
    </div>
</footer>


<div class="modal fade" id="modal-trailer" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Trailer</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <iframe style="aspect-ratio: 16 / 9" width="100%" src="https://www.youtube.com/embed/MjxPoqCvvVs?si=O86GBpvOpevCw1sa"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>



<script>
    document.addEventListener('DOMContentLoaded', function() {
        const myModal = document.getElementById('modal-trailer');
        const iframe = myModal.querySelector('iframe');

        myModal.addEventListener('hide.bs.modal', function () {
            const src = iframe.src;
            iframe.src = '';
            iframe.src = src;
        });
    });
</script>
</body>
</html>