<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${product == null ? 'Product Not Found' : product.getName()}">Sản Phẩm Chi Tiết</title>

    <link rel="stylesheet" th:href="@{/css/styleProductDetail.css}">

</head>
<body>
<div class="detail-container">
    <div class="product-detail">
        <h3 th:text=" 'Tên sản phẩm: ' +  ${product.getName()}">Product Name</h3>
        <p class="description" th:text=" 'Mô tả: ' + ${product.getDescription()}">Product Description</p>
        <p class="price" th:text=" 'Giá tiền: ' + ${product.getPrice()} + '$' ">$ Price</p>
        <p class="price-discount" th:text=" 'Giảm giá: ' + ${product.getPriceDiscount()} + '%' ">$ Discount Price</p>
        <p class="rating" th:text=" 'Đánh giá: ' + ${product.getRating()} + ' ★' ">Rating</p>
        <button class="add-to-cart">BUY</button>
    </div>
</div>

</body>
</html>