<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Trang chủ</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<h1>Home page</h1>

<!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores consequuntur cum, ducimus earum minus molestiae-->
<!--    natus repellat reprehenderit tempora totam!</p>-->

<!--<p th:text="${book.title()}"></p>-->
<!--<p th:text="${book.author}"></p>-->
<!--<p th:text="${book.year}"></p>-->
<!--<p th:text="${book.id}"></p>-->

<h3>Danh sách book</h3>

<form action="">
    <input type="text" name="title" placeholder="Tìm kiếm theo tên">
    <button type="submit">Tìm kiếm</button>
</form>

<br>

<table border="1">
    <thead>
    <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Author</th>
        <th>Year</th>
        <th></th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="book : ${books}" th:styleappend="${book.id % 2 == 1 ? 'background-color: #cde2d4' : ''}">
        <td th:text="${book.id}"></td>
        <td th:text="${book.title}"></td>
        <td th:text="${book.author}"></td>
        <td th:text="${book.year}"></td>
        <td>
            <!--  <a th:href="@{/books/{id} (id=${book.id})}">Xem chi tiet</a>  -->
            <!--  <a th:href="'/books/' + ${book.id}">Xem chi tiet</a>  -->
            <a th:href="|/books/${book.id}|">Xem chi tiết</a>
        </td>
    </tr>
    </tbody>
</table>

<script th:src="@{/js/main.js}"></script>
</body>
</html>