<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{admin/layout/layout :: main-layout(~{:: title}, ~{:: #css}, ~{:: .content-wrapper}, ~{:: #js})}">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Tạo mới phim</title>

    <th:block id="css">
        <link rel="stylesheet" href="/admin-assets/plugins/select2/css/select2.min.css" />
        <link rel="stylesheet" href="/admin-assets/dist/css/style.css">
    </th:block>

</head>

<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-12">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="#">Dashboard</a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="/admin/movies">Phim</a>
                            </li>
                            <li class="breadcrumb-item active">
                                Tạo Phim
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row py-2">
                    <div class="col-6">
                        <a href="/admin/movies" class="btn btn-default">
                            <i class="fas fa-chevron-left"></i> Quay lại
                        </a>
                        <button type="button" class="btn btn-info px-4" id="btn-create">
                            Lưu
                        </button>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <form id="form-create-movie">
                                    <div class="row">
                                        <div class="col-md-8">
                                            <div class="form-group">
                                                <label>Tên Phim</label>
                                                <input type="text" class="form-control" id="name" name="name" />
                                            </div>

                                            <div class="form-group">
                                                <label>Trailer URL</label>
                                                <input type="text" class="form-control" id="trailerUrl" name="trailerUrl" />
                                            </div>

                                            <div class="form-group">
                                                <label>Mô tả ngắn</label>
                                                <textarea id="description" class="form-control" rows="3" name="description"></textarea>
                                            </div>

                                            <div class="form-group">
                                                <label>Thể loại</label>
                                                <div class="select2-purple">
                                                    <select class="select2 form-control" multiple="multiple"
                                                            id="genre" name="genre">
                                                        <option th:each="genres : ${genres}"
                                                                th:value="${genres.id}"
                                                                th:text="${genres.name}">Hành động
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label>Đạo diễn</label>
                                                <div class="select2-purple">
                                                    <select class="select2 form-control" multiple="multiple"
                                                            id="director" name="director">
                                                        <option th:each="director : ${directors}"
                                                                th:value="${director.id}"
                                                                th:text="${director.name}">A
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label>Diễn viên</label>
                                                <div class="select2-purple">
                                                    <select class="select2 form-control" multiple="multiple"
                                                            id="actor" name="actor">
                                                        <option th:each="actor : ${actors}"
                                                                th:value="${actor.id}"
                                                                th:text="${actor.name}">
                                                            AB
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Trạng thái</label>
                                                <select id="status" class="form-control" name="status">
                                                    <option value="false">
                                                        Nháp
                                                    </option>
                                                    <option value="true">
                                                        Công khai
                                                    </option>
                                                </select>
                                            </div>

                                            <div class="form-group">
                                                <label>Loại phim</label>
                                                <select id="type" class="form-control" name="type">
                                                    <option value="PHIM_LE">
                                                        Phim lẻ
                                                    </option>
                                                    <option value="PHIM_BO">
                                                        Phim bộ
                                                    </option>
                                                    <option value="PHIM_CHIEU_RAP">
                                                        Phim chiếu rạp
                                                    </option>
                                                </select>
                                            </div>

                                            <div class="form-group">
                                                <label>Năm phát hành</label>
                                                <input type="text" class="form-control" id="releaseYear" name="releaseYear" />
                                            </div>

                                            <div class="form-group">
                                                <label>Quốc gia</label>
                                                <select id="country" class="form-control" name="country">
                                                    <option
                                                            th:each="country : ${countries}"
                                                            th:value="${country.id}"
                                                            th:text="${country.name}">
                                                        Nhật Bản
                                                    </option>
                                                </select>
                                            </div>

                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>
</div>

<th:block id="js">
    <script src="/admin-assets/plugins/select2/js/select2.full.min.js"></script>
    <script src="/admin-assets/plugins/jquery-validation/jquery.validate.min.js"></script>
    <script src="/admin-assets/plugins/jquery-validation/additional-methods.min.js"></script>

    <script>
        $(".select2").select2();

        $('#form-create-movie').validate({
            rules: {
                name: {
                    required: true,
                },
                trailerUrl: {
                    required: true,
                },
                description: {
                    required: true
                },
                genre: {
                    required: true
                },
                director: {
                    required: true
                },
                actor: {
                    required: true
                },
                status: {
                    required: true
                },
                type: {
                    required: true
                },
                releaseYear: {
                    required: true
                },
                country: {
                    required: true
                },
            },
            messages: {
                name: {
                    required: "Vui lòng nhập tên phim",
                },
                trailerUrl: {
                    required: "Vui lòng nhập trailer url",
                },
                description: {
                    required: "Vui lòng nhập mô tả"
                },
                genre: {
                    required: "Vui lòng nhập thể loại"
                },
                director: {
                    required: "Vui lòng nhập đạo diễn"
                },
                actor: {
                    required: "Vui lòng nhập diễn viên"
                },
                status: {
                    required: "Vui lòng nhập trạng thái"
                },
                type: {
                    required: "Vui lòng nhập thể loại"
                },
                releaseYear: {
                    required: "Vui lòng nhập năm phát hành"
                },
                country: {
                    required: "Vui lòng nhập quốc gia"
                },
            },
            errorElement: 'span',
            errorPlacement: function (error, element) {
                error.addClass('invalid-feedback');
                element.closest('.form-group').append(error);
            },
            highlight: function (element, errorClass, validClass) {
                $(element).addClass('is-invalid');
            },
            unhighlight: function (element, errorClass, validClass) {
                $(element).removeClass('is-invalid');
            }
        });

        const nameEl = document.getElementById('name');
        const trailerUrlEl = document.getElementById('trailerUrl');
        const descriptionEl = document.getElementById('description');
        const genreEl = $("#genre"); // truy cap theo cu phap jquery
        const directorEl = $("#director");
        const actorEl = $("#actor");
        const statusEl = document.getElementById('status');
        const typeEl = document.getElementById('type');
        const releaseYearEl = document.getElementById('releaseYear');
        const countryEl = document.getElementById('country')

        const resetDataMovie = () => {
            nameEl.value = "";
            trailerUrlEl.value = "";
            descriptionEl.value = "";
            genreEl.empty();
            directorEl.empty();
            actorEl.empty();
            statusEl.value = "";
            releaseYearEl.value = "";
            countryEl.value = "";
        }

        const btnUpdateEl = document.getElementById('btn-create');
        btnUpdateEl.addEventListener('click', async () => {
            if (!$('#form-create-movie').valid()) {
                return;
            }

            // tao request
            const request = {
                name: nameEl.value,
                trailerUrl: trailerUrlEl.value,
                description: descriptionEl.value,
                genreIds: genreEl.val().map(id => Number(id)),
                directorIds: directorEl.val().map(id => Number(id)),
                actorIds: actorEl.val().map(id => Number(id)),
                status: statusEl.value === "true",
                type: typeEl.value,
                releaseYear: Number(releaseYearEl.value),
                countryId: Number(countryEl.value)
            }

            // goi api
            try {
                let res = await axios.post(`/api/admin/movies`, request);
                if (response.status === 200) {
                    toastr.success("Bạn đã tạo phim thành công");
                }
                resetDataMovie();
            } catch (e) {
                toastr.error("Bạn đã tạo phim thất bại");
            }
        });
</script>
        </th:block>




</body>

</html>