<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{admin/layout/layout :: main-layout(~{:: title}, ~{:: #css}, ~{:: .content-wrapper}, ~{:: #js})}">

<head>
    <title>Chi tiết phim</title>

    <th:block id="css">
        <link rel="stylesheet" href="/admin-assets/plugins/select2/css/select2.min.css"/>
        <link rel="stylesheet" href="/admin-assets/dist/css/style.css">
    </th:block>
</head>

<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-12">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="#">Dashboard</a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="/admin/movies">Phim</a>
                            </li>
                            <li class="breadcrumb-item active" th:text="${movie.name}">
                                Thực hành làm ứng dụng Meal Finder API
                                với Javascript (Phần 2)
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row py-2">
                    <div class="col-6">
                        <a href="/admin/movies" class="btn btn-default">
                            <i class="fas fa-chevron-left"></i> Quay lại
                        </a>
                        <button type="button" class="btn btn-info px-4" id="btn-update">
                            Cập nhật
                        </button>
                    </div>

                    <div class="col-6 d-flex justify-content-end">
                        <button type="button" class="btn btn-danger px-4">
                            Xóa
                        </button>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <form id="form-update-movie">
                                    <div class="row">
                                        <div class="col-md-8">
                                            <div class="form-group">
                                                <label>Tên phim</label>
                                                <input type="text" class="form-control" id="name"
                                                       th:value="${movie.name}" name="name"/>
                                            </div>

                                            <div class="form-group">
                                                <label>Trailer URL</label>
                                                <input type="text" class="form-control" id="trailerUrl"
                                                       th:value="${movie.trailerUrl}" name="trailerUrl"/>
                                            </div>

                                            <div class="form-group">
                                                <label>Mô tả ngắn</label>
                                                <textarea id="description" class="form-control" rows="3"
                                                          th:text="${movie.description}" name="description"></textarea>
                                            </div>

                                            <div class="form-group">
                                                <label>Thể loại</label>
                                                <div class="select2-purple">
                                                    <select class="select2 form-control" multiple="multiple" id="genre"
                                                            name="genre">
                                                        <option th:each="genres : ${genres}"
                                                                th:value="${genres.id}"
                                                                th:selected="${movie.genres.contains(genres)}"
                                                                th:text="${genres.name}">Chiến tranh
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label>Đạo diễn</label>
                                                <div class="select2-purple">
                                                    <select class="select2 form-control" multiple="multiple"
                                                            id="director" name="director">
                                                        <option th:each="director : ${directors}"
                                                                th:value="${director.id}"
                                                                th:selected="${movie.directors.contains(director)}"
                                                                th:text="${director.name}">Chiến tranh
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label>Diễn viên</label>
                                                <div class="select2-purple">
                                                    <select class="select2 form-control" multiple="multiple" id="actor"
                                                            name="actor">
                                                        <option th:each="actor : ${actors}"
                                                                th:value="${actor.id}"
                                                                th:selected="${movie.actors.contains(actor)}"
                                                                th:text="${actor.name}">Chiến tranh
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Trạng thái</label>
                                                <select id="status" class="form-control" name="status">
                                                    <option value="false" th:selected="${!movie.status}">
                                                        Nháp
                                                    </option>
                                                    <option value="true" th:selected="${movie.status}">
                                                        Công khai
                                                    </option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label>Loại phim</label>
                                                <select id="type" class="form-control" name="type">
                                                    <option value="PHIM_LE"
                                                            th:selected="${movie.type.toString() == 'PHIM_LE'}">
                                                        Phim lẻ
                                                    </option>
                                                    <option value="PHIM_BO"
                                                            th:selected="${movie.type.toString() == 'PHIM_BO'}">
                                                        Phim bộ
                                                    </option>
                                                    <option value="PHIM_CHIEU_RAP"
                                                            th:selected="${movie.type.toString() == 'PHIM_CHIEU_RAP'}">
                                                        Phim chiếu rạp
                                                    </option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label>Năm phát hành</label>
                                                <input type="text" class="form-control" id="releaseYear"
                                                       th:value="${movie.releaseYear}" name="releaseYear"/>
                                            </div>
                                            <div class="form-group">
                                                <label>Quốc gia</label>
                                                <select id="country" class="form-control" name="country">
                                                    <option th:each="country : ${countries}"
                                                            th:value="${country.id}"
                                                            th:selected="${country.id == movie.country.id}"
                                                            th:text="${country.name}">Chiến tranh
                                                    </option>
                                                </select>
                                            </div>

                                            <div class="form-group">
                                                <div class="thumbnail-preview-container mb-3">
                                                    <img th:src="${movie.poster}" id="thumbnail" alt="" style="display:none; max-width: 100%;">
                                                </div>
                                                <label for="input-poster" class="btn btn-primary">
                                                    Chọn hình ảnh
                                                </label>
                                                <input type="file" id="input-poster" class="d-none" accept="image/*">
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

<th:block id="js">
    <script src="/admin-assets/plugins/select2/js/select2.full.min.js"></script>
    <script src="/admin-assets/plugins/jquery-validation/jquery.validate.min.js"></script>
    <script src="/admin-assets/plugins/jquery-validation/additional-methods.min.js"></script>

    <script th:inline="javascript">
        const movie = [[${movie}]];

        $(".select2").select2();

        // Validate form
        $('#form-update-movie').validate({
            rules: {
                name: {
                    required: true
                },
                trailerUrl: {
                    required: true
                },
                description: {
                    required: true
                },
                genre: {
                    required: true
                },
                director: {
                    required: true
                },
                actor: {
                    required: true
                },
                status: {
                    required: true
                },
                type: {
                    required: true
                },
                releaseYear: {
                    required: true
                },
                country: {
                    required: true
                }
            },
            messages: {
                name: {
                    required: 'Tên phim không được để trống'
                },
                trailerUrl: {
                    required: 'Trailer URL không được để trống'
                },
                description: {
                    required: 'Mô tả ngắn không được để trống'
                },
                genre: {
                    required: 'Thể loại không được để trống'
                },
                director: {
                    required: 'Đạo diễn không được để trống'
                },
                actor: {
                    required: 'Diễn viên không được để trống'
                },
                status: {
                    required: 'Trạng thái không được để trống'
                },
                type: {
                    required: 'Loại phim không được để trống'
                },
                releaseYear: {
                    required: 'Năm phát hành không được để trống'
                },
                country: {
                    required: 'Quốc gia không được để trống'
                }
            },
            errorElement: 'span',
            errorPlacement: function (error, element) {
                error.addClass('invalid-feedback');
                element.closest('.form-group').append(error);
            },
            highlight: function (element, errorClass, validClass) {
                $(element).addClass('is-invalid');
            },
            unhighlight: function (element, errorClass, validClass) {
                $(element).removeClass('is-invalid');
            }
        });

        // Handle logic when click to button with id = "btn-update" -> check validate form
        const nameEl = document.getElementById('name');
        const trailerUrlEl = document.getElementById('trailerUrl');
        const descriptionEl = document.getElementById('description');
        const genreEl = $("#genre"); // truy cap theo cu phap cu Jquery -> de lay duoc gia tri cua select2
        const directorEl = $("#director");
        const actorEl = $("#actor");
        const statusEl = document.getElementById('status');
        const typeEl = document.getElementById('type');
        const releaseYearEl = document.getElementById('releaseYear');
        const countryEl = document.getElementById('country');

        const btnUpdate = document.getElementById('btn-update');
        btnUpdate.addEventListener('click', async function () {
            if (!$('#form-update-movie').valid()) {
                return;
            }

            // Tao request
            const request = {
                name: nameEl.value,
                trailerUrl: trailerUrlEl.value,
                description: descriptionEl.value,
                genreIds: genreEl.val().map(id => Number(id)),
                directorIds: directorEl.val().map(id => Number(id)),
                actorIds: actorEl.val().map(id => Number(id)),
                status: statusEl.value === "true",
                type: typeEl.value,
                releaseYear: Number(releaseYearEl.value),
                countryId: Number(countryEl.value)
            }

            // Goi API de cap nhat phim
            try {
                const response = await axios.put(`/api/admin/movies/${movie.id}`, request);
                if (response.status === 200) {
                    alert('Cập nhật phim thành công');
                }
            } catch (error) {
                console.log(error)
                alert(error.response.data.message);
            }
        });
    </script>

    <script>
        const inputPoster = document.getElementById('input-poster');
        const thumbnail = document.getElementById('thumbnail');

        inputPoster.addEventListener('change', function () {
            const file = inputPoster.files[0];
            if (file) {
                const reader = new FileReader();
                reader.onload = function (e) {
                    thumbnail.src = e.target.result;
                    thumbnail.style.display = 'block'; // Hiển thị ảnh thumbnail
                };
                reader.readAsDataURL(file); // Đọc file và tạo URL
            } else {
                thumbnail.style.display = 'none'; // Ẩn thumbnail nếu không có file
            }
        });

        // Handle logic when click to button with id = "btn-update" -> check validate form
        btnUpdate.addEventListener('click', async function () {
            if (!$('#form-update-movie').valid()) {
                return;
            }

            const file = inputPoster.files[0];

            // Chỉ thêm file nếu có
            if (file) {
                formData.append('poster', file);
            }

            // Tạo request
            const formData = new FormData();
            formData.append('name', nameEl.value);
            formData.append('trailerUrl', trailerUrlEl.value);
            formData.append('description', descriptionEl.value);
            formData.append('genreIds', genreEl.val().map(id => Number(id)));
            formData.append('directorIds', directorEl.val().map(id => Number(id)));
            formData.append('actorIds', actorEl.val().map(id => Number(id)));
            formData.append('status', statusEl.value === "true");
            formData.append('type', typeEl.value);
            formData.append('releaseYear', Number(releaseYearEl.value));
            formData.append('countryId', Number(countryEl.value));

            // Gọi API để cập nhật phim
            try {
                const response = await axios.put(`/api/admin/movies/${movie.id}`, formData, {
                    headers: {
                        'Content-Type': 'multipart/form-data'
                    }
                });
                if (response.status === 200) {
                    alert('Cập nhật phim thành công');
                }
            } catch (error) {
                console.log(error);
                alert(error.response.data.message);
            }
        });

    </script>
</th:block>
</body>

</html>