<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{admin/layout/layout :: main-layout(~{:: title}, ~{}, ~{:: .content-wrapper}, ~{})}">

<head>
  <title>Danh sách phim</title>
</head>

<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-12">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="#">Dashboard</a>
              </li>
              <li class="breadcrumb-item active">
                Danh sách bài viết
              </li>
            </ol>
          </div>
        </div>
      </div>
    </div>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row py-2">
          <div class="col-12">
            <a href="/admin/movies/create" class="btn btn-primary">
              <i class="fas fa-plus"></i> Tạo Phim
            </a>
            <button type="button" class="btn btn-info">
              <i class="fas fa-redo"></i> Refresh
            </button>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-body">
                <table class="table table-bordered table-hover">
                  <thead>
                  <tr>
                    <th>Tên phim</th>
                    <th>Thể loại</th>
                    <th>Trạng thái</th>
                    <th>Ngày tạo</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr th:each="movie : ${movies}">
                    <td>
                        <a th:href="|/admin/movies/${movie.id}/detail|" th:text="${movie.name}">Chúa tể những chiếc nhẫn</a>
                    </td>

                    <td>
                      <a th:text="${movie.type}">Phim chiếu rạp</a>
                    </td>

                    <td>
                      <a th:text="${movie.status ? 'Công khai' : 'Nháp'}">Phim chiếu rạp</a>
                    </td>

                    <td>
                      <a th:text="${#temporals.format(movie.createdAt, 'dd-MM-yyyy')}">Phim chiếu rạp</a>
                    </td>

                  </tr>
                  </tbody>
                </table>

              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>

</body>
</html>